@use '../../utils' as *;

/*----------------------------------------*/
/*  3.2 Header Style 2
/*----------------------------------------*/
.tp-header-two {
    position: relative;
    z-index: 999999;

    &__menu {
        & ul {
            & li {
                &:hover {
                    & a {
                        color: #fbd45b;
                    }
                }
            }
        }
    }

    &-btn {
        & a {
            @media #{$md} {
                display: none !important;
            }
        }

        @media #{$lg} {
            display: flex;
            margin-left: 40px;
        }
    }

    &__top-left {
        @media #{$sm, $md, $xs, $ssm} {
            display: none;
        }
    }

    &__logo { 
        position: absolute;
        padding: 15px 90px; 
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        height: 100%;
        @media #{$xl} {
            padding: 15px 50px;
        }

        @media #{$lg} {
            padding: 15px 40px;
        }
    }


    &__contact-number {
        @media #{ $xxl, $xl, $lg, $md, $sm, $xs} {
            display: none;
        }

        @media #{$lg} {
            display: none;
        }

        @media #{$md} {
            display: none;
        }

        @media #{$sm} {
            display: none;
        }
    }

    &__wrapper-inner {
        position: relative;
        display: block;
        z-index: 1;
    }

    &__main-header {
        margin-left: 375px;
        @media #{$xl} {
            margin-left: 295px;
        }
        @media #{$lg} {
            margin-left: 216px;
        }
    }

    &__menu {
        & ul {
            & li {
                display: inline-block;
                position: relative;
                margin-right: 60px;

                @media #{$xxxl} {
                    margin-right: 27px;
                }

                @media #{$xxl} {
                    margin-right: 32px;
                }

                @media #{$xl} {
                    margin-right: 24px;
                }

                & a {
                    color: #90c8be;
                    display: inline-block;
                    font-weight: 700;
                    padding: 43px 0px;
                    line-height: 10px;
                    text-transform: uppercase;
                }

                & .sub-menu {
                    position: absolute;
                    width: 230px;
                    background: var(--tp-heading-primary);
                    padding: 28px;
                    top: 110%;
                    left: 0;
                    text-align: left;
                    transition: .3s;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 5;
                    transition: .3s;
                    z-index: 999999;

                    & li {
                        display: block;
                        margin: 0;

                        & a {
                            color: var(--tp-common-white);
                            padding: 0;

                            &:hover {
                                color: #fbd45b;
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                &:hover {
                    & .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }
            }
        }
    }

    &__top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 6px 75px 6px 60px;
        z-index: 1;

        @media #{$xl} {
            padding: 6px 30px 6px 30px;
        }

        @media #{$lg, $md, $sm, $xs} {
            display: none;
        }
    }

    &__bottom {
        padding: 0 75px 0 60px;

        @media #{$xl} {
            padding: 0 30px 0 30px;
        }

        @media #{$lg} {
            padding: 20px 49px 20px 57px;
        }

        @media #{$md} {
            padding: 35px;
        }
    }

    &__top-right {
        display: flex;

        & .tp-location {
            & a {
                color: #7b8280;
                transition: .4s;
                text-transform: capitalize;

                & i {
                    color: var(--tp-theme-1);
                    ;
                    font-size: 13px;
                    padding: 0 10px 0px 0px;
                }
            }
        }


        & .envelope {
            & a {
                color: #7b8280;
                transition: .4s;
                text-transform: capitalize;

                & i {
                    color: var(--tp-theme-1);
                    font-size: 13px;
                    padding: 0 10px 0px 0px;
                }

            }
        }

        .search-icon {
            @media #{$lg, $md, $sm, $sm, $xs} {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        @media #{$sm, $xs} {
            display: none;
        }

        .tp-header-search {
            & a {
                padding-right: 30px;
                margin-right: 30px;
                color: #fff;

                &:after {
                    content: "";
                    background: #2b8b7a;
                    width: 1px;
                    height: 40px;
                    position: absolute;
                    top: 10px;
                    left: 47px;
                }
            }
        }

        & .sm-clist__icon {
            float: left;
        }

        & .sm-clist__text {
            float: right;

            @media #{$xxl} {
                margin-right: 15px;
            }

            & span {
                font-size: 12px;
                color: var(--tp-text-body);
                font-weight: 400;
                display: block;
                line-height: 1;
                padding-bottom: 5px;
                padding-top: 8px;
            }

            & a {
                font-size: 16px;
                color: #fff;
                font-weight: 700;
            }

        }

        & .tp-header-space {
            padding-left: 40px;
            padding-right: 45px;
        }

        & .sm-clist__icon {
            height: 50px;
            width: 50px;
            background: var(--tp-common-white);
            color: #3e4c49;
            line-height: 54px;
            text-align: center;
            border-radius: 30px;

            & i {
                font-size: 18px;
            }
        }

        & .sm-clist__text {
            & span {
                font-size: 12px;
                color: #90c8be;
            }
        }
    }

    &-btn {
        display: flex;

        @media #{$ssm} {
            display: none;
        }
    }

    &__top-left {
        & p {
            color: #283734;
        }
    }
}

.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    transition: 0.3s ease;
    z-index: 9999999;

    & .tp-header-two__top {
        display: none;
    }
}

.tp-main-menu {
    background: #fff;
}

.white-text {
    color: #fff;

    & a {
        color: #98a8a5;

        & i {
            color: #fbd45b !important;
        }
    }
}