@use '../utils' as *;

/*----------------------------------------*/
/*  2.3 Buttons
/*----------------------------------------*/

/* theme btn */

.tp-btn {
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		color: var(--tp-theme-3);
		background: var(--tp-theme-2);
		text-align: center;
		padding: 15px 49px;
		position: relative;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		transition: all 0.5s linear;
		overflow: hidden;
		z-index: 1;

	&:hover {
		color: var(--tp-common-white);
		&::before {
			transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
			transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		  }
		&::after {
			transform: translate3d(0, 0, 0);
			transition-duration: 0.05s;
			transition-delay: 0.4s;
			transition-timing-function: linear;
		  }
	}
	@media #{$sm} {
		padding: 15px 45px;
	}
	@media #{$xs} {
		padding: 15px 37px;
	}

	&::before {
		position: absolute;
		content: '';
		background-color: #283734;
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		border-radius: 50%;
		left: -10%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #283734;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		z-index: -1;
	}

}
.tp-btn-3 {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-theme-3);
	background: var(--tp-theme-2);
	text-align: center;
	font-family: var(--tp-ff-space);
	padding: 15px 45px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	transition: all 0.5s linear;
	overflow: hidden;
	z-index: 1;

	&:hover {
		color: #283734;
		background-color: var(--tp-common-white);
		&::before {
			transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
			transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		  }
		&::after {
			transform: translate3d(0, 0, 0);
			transition-duration: 0.05s;
			transition-delay: 0.4s;
			transition-timing-function: linear;
		  }
	}
	&::before {
		position: absolute;
		content: '';
		background-color: #fff;
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		border-radius: 50%;
		left: -10%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		z-index: -1;
	}
}

.tp-btn-5 {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	text-align: center;
	padding: 15px 43px;
	position: relative;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	transition: all 0.5s linear;
	overflow: hidden;
	z-index: 1;

&:hover {
	color: var(--tp-common-white);
	&::before {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	  }
	&::after {
		transform: translate3d(0, 0, 0);
		transition-duration: 0.05s;
		transition-delay: 0.4s;
		transition-timing-function: linear;
	  }
}
	&:hover {
		color: var(--tp-common-white);
		background-color: var(--tp-grey-2);
	}
	&::before {
		position: absolute;
		content: '';
		background-color: #283734;
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		border-radius: 50%;
		left: -10%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #283734;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		z-index: -1;
	}
}

.tp-btn-black {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background-color: var(--tp-grey-2);
	text-align: center;
	font-family: var(--tp-ff-space);
	padding: 15px 49px;
	position: relative;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	transition: all 0.5s linear;
	overflow: hidden;
	z-index: 1;

&:hover {
	color: #283734;
	&::before {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	  }
	&::after {
		transform: translate3d(0, 0, 0);
		transition-duration: 0.05s;
		transition-delay: 0.4s;
		transition-timing-function: linear;
	  }
}

	@media #{$xs} {
		padding: 8px 36px;
	}
	&::before {
		position: absolute;
		content: '';
		background-color: var(--tp-common-white);
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		border-radius: 50%;
		left: -10%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 110%;
		height: 100%;
		background-color: var(--tp-common-white);
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		z-index: -1;
	}
}

.tp-btn-text {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	text-align: center;
	font-family: var(--tp-ff-space);
	position: relative;
	z-index: 1;
	overflow: hidden;
	letter-spacing: -0.02em;
	transition: .3s;
	text-transform: uppercase;
	&::before {
		position: absolute;
		content: '';
		background-color: #283734;
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		border-radius: 50%;
		left: -10%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #283734;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		z-index: -1;
	}
	&:hover {
		color: #fbd45b;
	}
}


.btn-link-sm {
	font-size: 14px;
	color: var(--tp-heading-primary);
	background: #f6eddf;
	padding: 5px 30px;;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	transition: all 0.5s linear;
	overflow: hidden;
	z-index: 1;
	position: relative;
	font-weight: 700;

&:hover {
	color: var(--tp-common-white);
	&::before {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	  }
	&::after {
		transform: translate3d(0, 0, 0);
		transition-duration: 0.05s;
		transition-delay: 0.4s;
		transition-timing-function: linear;
	  }
}

&::before {
	position: absolute;
	content: '';
	background-color: #283734;
	width: 120%;
	height: 0;
	padding-bottom: 120%;
	top: -110%;
	border-radius: 50%;
	left: -10%;
	transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
	z-index: -1;
}

&::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #283734;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	z-index: -1;
}
}

.tp-btn-4 {
	color: #6f7775;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
  }
  .tp-btn-4:hover {
	color: #283734;
  }